{% extends 'base.html.twig' %}

{% block title %}MotivoConsulta index{% endblock %}

{% block body %}
    <h1>MotivoConsulta index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for motivo_consultum in motivo_consultas %}
            <tr>
                <td>{{ motivo_consultum.id }}</td>
                <td>{{ motivo_consultum.nombre }}</td>
                <td>
                    <a href="{{ path('motivo_consulta_show', {'id': motivo_consultum.id}) }}">show</a>
                    <a href="{{ path('motivo_consulta_edit', {'id': motivo_consultum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('motivo_consulta_new') }}">Create new</a>
{% endblock %}
