{% extends 'base.html.twig' %}

{% block title %}Acompanamiento{% endblock %}

{% block body %}
    <h1>Acompanamiento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acompanamiento.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ acompanamiento.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('acompanamiento_index') }}">back to list</a>

    <a href="{{ path('acompanamiento_edit', {'id': acompanamiento.id}) }}">edit</a>

    {{ include('acompanamiento/_delete_form.html.twig') }}
{% endblock %}
