{% extends 'base.html.twig' %}

{% block title %}Paciente{% endblock %}

{% block body %}
    <h1>Paciente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paciente.id }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ paciente.apellido }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ paciente.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha_nac</th>
                <td>{{ paciente.fechaNac ? paciente.fechaNac|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lugar_nac</th>
                <td>{{ paciente.lugarNac }}</td>
            </tr>
            <tr>
                <th>Localidad_id</th>
                <td>{{ paciente.localidadId }}</td>
            </tr>
            <tr>
                <th>Region_sanitaria_id</th>
                <td>{{ paciente.regionSanitariaId }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ paciente.domicilio }}</td>
            </tr>
            <tr>
                <th>Tiene_documento</th>
                <td>{{ paciente.tieneDocumento ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Tipo_doc_id</th>
                <td>{{ paciente.tipoDocId }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ paciente.numero }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ paciente.tel }}</td>
            </tr>
            <tr>
                <th>Nro_carpeta</th>
                <td>{{ paciente.nroCarpeta }}</td>
            </tr>
            <tr>
                <th>Obra_social_id</th>
                <td>{{ paciente.obraSocialId }}</td>
            </tr>
            <tr>
                <th>Partido_id</th>
                <td>{{ paciente.partidoId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('paciente_index') }}">back to list</a>

    <a href="{{ path('paciente_edit', {'id': paciente.id}) }}">edit</a>

    {{ include('paciente/_delete_form.html.twig') }}
{% endblock %}
