{% extends 'base.html.twig' %}

{% block title %}Configuracion{% endblock %}

{% block body %}
    <h1>Configuracion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ configuracion.id }}</td>
            </tr>
            <tr>
                <th>Variable</th>
                <td>{{ configuracion.variable }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ configuracion.valor }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('configuracion_index') }}">back to list</a>

    <a href="{{ path('configuracion_edit', {'id': configuracion.id}) }}">edit</a>

    {{ include('configuracion/_delete_form.html.twig') }}
{% endblock %}
